body {
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    padding: 20px;
    display: flex;
     margin: 0 auto;
    justify-content: space-around;
    border-bottom: 5px solid  #171616;
    border-radius: 10px;
    text-align: center;
    color: black;
    background: #c472a2;
    text-shadow: 2px;
   
}

.border-blue {
border: 1px dotted blue;
}